/* reset */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


/* generali */

body{
    background-color: #FFFFFE;
}

.pink{
    color:#e43373 ;
}

.container{
    max-width: 1000px;
    margin:0 auto;
}

/* header */
header > *{
    text-align: center;
}
/* main */
