/* reset */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


/* generali */

html{
    background-color: #FFFFFE;
    font-family: 'Merriweather Sans', sans-serif;
}

.pink{
    color:#e43373 ;
}

.container{
    max-width: 1200px;
    margin:0 auto;
    margin-top: 30px;
}

.clearfix::after{
    content:"";
    display: table;
    clear: both;
}

/* header */
header > *{
    text-align: center;
}
h1{
    margin: 30px;
}
/* main */

.cards-container > .card{
    float: left;
    width: calc(100% / 3);
    background-color: #0f0e17;
}

.card > *{
    float: left;

}

.card > .img-container{
    width: 100px;
    height: 100px;
}
.card > .img-container > img{
    width:100%;
    display: block;
}
.card > .info{
    max-width: calc(100% - 100px);
    height: 100px;
    padding: 10px;
}

.card > .info > h4{
    color: white;
}

.card > .info > h3{
    color: white;
}

.card > .info >a{
   text-decoration: none;
   color: aquamarine;
}